@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 20px; /* Set the width of the entire scrollbar */
}

::-webkit-scrollbar-track-piece {
  background-color: #ffb6c1;
}

::-webkit-scrollbar-thumb {
  background-color: #a71b31; /* Thumb color */
  border-radius: 40px; /* Rounded corners for the thumb */
  border: 5px solid #ffb6c1; /* Simulate padding by using a border */
}

.bg-right-more {
  background-position: right 10%; /* Adjust this value as needed */
}

::selection {
  color: white;
  background-color: #a71b31;
}
